<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/Logo_muskiz.svg">
    <title>Biblioteca de Muskiz</title>
    <link rel="stylesheet" href="../css/catalogo_1.css">
    <link rel="stylesheet" href="../css/common.css">
</head>

<body>
    <header class="header">
        <!--este es el titulo-->
        <section class="title">
            <img src="/img/Logo_muskiz.png" alt="Logo Muskiz">
        <h1> BIBLIOTECA DE MUSKIZ</h1>
        <!--Aparatado para la pagina de inicio que te redige hacia otro lado-->
        </section>
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="noticias.html">Noticias</a></li>
                <li><a href="catalogo_1.html">Catálogo</a></li>
                <li><a href="acercade.html">Acerca de</a></li>
                <li><a href="login.php">Mi cuenta</a></li>
            </ul>
        </nav>
    </header>   

    <main>
        <h2 class="titulo-catalogo">Catálogo</h2><br>
        <section class="flex-container">
            <article class="libro">
                <div class="imagen">
                    <img src="/img/Cat_prin/Copia de principito.png" alt="El Principito">
                </div>
                <h2 class="titulo">
                    El Principito
                </h2>
                <p class="texto">
                    El Principito, relata las aventuras de un niño que viaja entre planetas, aprendiendo sobre la naturaleza humana. En la Tierra, conoce a un piloto y descubre el valor de la amistad y el amor. La historia recuerda que "lo esencial es invisible a los ojos".
                </p>
                <p class="autor">
                    Autor/a: Antoine de Saint-Exupéry
                </p>
            </article>
            <article class="libro">
                <div class="imagen">
                    <img src="/img/Cat_prin/Copia de alas de hierro.png" alt="Alas de hierro">
                </div>
                <h2 class="titulo">
                    Alas de hierro
                </h2>
                <p class="texto">
                    Alas de Hierro, sigue la historia de un joven aviador en tiempos de guerra, atrapado entre el deber y sus sueños. Explorando el conflicto entre libertad y responsabilidad, esta novela de aventuras y autodescubrimiento refleja las luchas internas y los sacrificios del protagonista en busca de redención.
                </p>
                <p class="autor">
                    Autor/a: Rebecca Yarros
                </p>
            </article>
            <article class="libro">
                <div class="imagen">
                    <img src="/img/Cat_prin/Copia de alas de sangre.png" alt="Alas de sangre">
                </div>
                <h2 class="titulo">
                    Alas de sangre
                </h2>
                <p class="texto">
                    Alas de Hierro, es una historia ambientada en la brutal academia de Basgiath, donde Violet Sorrengail, una joven obligada a unirse a la peligrosa escuadra de jinetes de dragones, enfrenta desafíos mortales. En un mundo de alianzas traicioneras y magia, debe luchar por sobrevivir y demostrar su fortaleza.
                </p>
                <p class="autor">
                    Autor/a: Rebecca Yarros
                </p>
            </article>
            <article class="libro">
                <div class="imagen">
                    <img src="/img/Cat_prin/Copia de barco de teseo.png" alt="El barco de Teseo">
                </div>
                <h2 class="titulo">
                    El barco de Teseo
                </h2>
                <p class="texto">
                    El Barco de Teseo, es un enigmático libro que sigue a un hombre sin recuerdos que aborda un misterioso barco, embarcándose en un viaje lleno de identidades ambiguas, conspiraciones y secretos. La historia explora la naturaleza de la identidad y el cambio, invitando al lector a resolver sus acertijos.
                </p>
                <p class="autor">
                    Autor/a: Ginés Aniorte
                </p>
            </article>
            <article class="libro">
                <div class="imagen">
                    <img src="/img/Cat_prin/Copia de cronicas de la torre.png" alt="Fenris el elfo">
                </div>
                <h2 class="titulo">
                    Fenris el elfo
                </h2>
                <p class="texto">
                    Fenris el elfo, narra la historia de un elfo guerrero atormentado por un oscuro pasado y una naturaleza que no puede controlar. En un mundo de magia y razas en conflicto, Fenris lucha contra sus propios demonios y busca redención, explorando la lealtad, la soledad y el destino.
                </p>
                <p class="autor">
                    Autor/a: Laura Gallego
                </p>
            </article>
            <article class="libro">
                <div class="imagen">
                    <img src="/img/Cat_prin/Copia de el arte de la guerra.png" alt="El arte de la guerra">
                </div>
                <h2 class="titulo">
                    El arte de la guerra
                </h2>
                <p class="texto">
                    El Arte de la Guerra, es un antiguo tratado sobre estrategia y tácticas militares que trasciende su aplicación en el campo de batalla. Este texto aborda la disciplina, la inteligencia y la adaptabilidad como claves para triunfar, ofreciendo principios que han influido en la guerra, la política y los negocios.
                </p>
                <p class="autor">
                    Autor/a: Sun Tzu
                </p>
            </article>
            <article class="libro">
                <div class="imagen">
                    <img src="/img/Cat_prin/Copia de geronimo.png" alt="Stilton: En el reino de la fantasía">
                </div>
                <h2 class="titulo">
                    Stilton: En el reino de la fantasía
                </h2>
                <p class="texto">
                    En el reino de la fantasía, de Geronimo Stilton, lleva al famoso ratón periodista a un mundo mágico lleno de dragones, hadas y otros seres fantásticos. Con un mapa misterioso y mucha valentía, Geronimo emprende una aventura épica para salvar el Reino de la Fantasía.
                </p>
                <p class="autor">
                    Autor/a: Elisabetta Dami
                </p>
            </article>
            <article class="libro">
                <div class="imagen">
                    <img src="/img/Cat_prin/Copia de guerra.png" alt="Vizcaya en guerra">
                </div>
                <h2 class="titulo">
                    Vizcaya en guerra
                </h2>
                <p class="texto">
                    Vizcaya en guerra, examina la historia de Vizcaya durante la Guerra Civil Española, explorando la resistencia, la vida cotidiana y los impactos del conflicto en la población vasca. A través de testimonios y documentación histórica, el libro ofrece una visión profunda sobre la supervivencia y el sufrimiento en tiempos de guerra.
                </p>
                <p class="autor">
                    Autor/a: Óscar González López
                </p>
            </article>
            <article class="libro">
                <div class="imagen">
                    <img src="/img/Cat_prin/Copia de los gatos no comen con tenedor.png" alt="Los gatos no comen con tenedor">
                </div>
                <h2 class="titulo">
                    Los gatos no comen con tenedor
                </h2>
                <p class="texto">
                    Los gatos no comen con tenedor, cuenta la historia de una familia excéntrica y divertida, narrada desde la perspectiva de un gato que observa sus conflictos y manías. Entre humor y lecciones de vida, el libro explora las relaciones familiares, la aceptación y el amor por quienes somos.
                </p>
                <p class="autor">
                    Autor/a: Alicia Roca
                </p>
            </article>
            <article class="libro">
                <div class="imagen">
                    <img src="/img/Cat_prin/Copia de mentira.png" alt="Mentira">
                </div>
                <h2 class="titulo">
                    Mentira
                </h2>
                <p class="texto">
                    Mentira, cuenta la historia de Xenia, una joven estudiante brillante que empieza una relación en línea con un chico llamado Marcelo. A medida que su conexión crece, Xenia descubre que todo podría ser una mentira, lo que la lleva a cuestionarse sobre la verdad, el amor y la confianza.
                </p>
                <p class="autor">
                    Autor/a: Care Santos
                </p>
            </article>
            <article class="libro">
                <div class="imagen">
                    <img src="/img/Cat_prin/Copia de mostaza.png" alt="Mostaza">
                </div>
                <h2 class="titulo">
                    Mostaza
                </h2>
                <p class="texto">
                    Mozartza, es una novela que sigue la historia de una familia vasca a lo largo de varias generaciones, entrelazando secretos, amores y traiciones. Ambientada en el País Vasco, la obra explora la identidad, la memoria y el impacto del pasado en el presente, desvelando profundos lazos familiares.
                </p>
                <p class="autor">
                    Autor/a: Mikel Alvira
                </p>
            </article>
            <article class="libro">
                <div class="imagen">
                    <img src="/img/Cat_prin/Copia de nada.png" alt="Nada">
                </div>
                <h2 class="titulo">
                    Nada
                </h2>
                <p class="texto">
                    Nada, relata la llegada de Andrea a Barcelona tras la Guerra Civil para estudiar en la universidad. En la casa de sus familiares, se encuentra atrapada en un ambiente opresivo y lleno de conflictos. A través de sus experiencias, Andrea busca libertad y sentido en un mundo desolado.
                </p>
                <p class="autor">
                    Autor/a: Carmen Laforet
                </p>
            </article>
        </section>
    </main>

    <footer class="footer">
        <section class="footer-content">
            <article class="footer-section">
                <h2>Biblioteca de Muskiz</h2>
                <p>Tu fuente de conocimiento y entretenimiento en Muskiz.</p>
                <div class="footer-images">
                    <div><img src="../img/Logo_muskiz.png" alt="Logo Muskiz"></div>
                    <div><img src="../img/Imaganes/Logo_govierno vasco.png" alt="Logo Gobierno Vasco"></div>
                    <div><img src="../img/Imaganes/Logo_WWW.jpg" alt="Logo WWW"></div>
                </div>
            </article>
            <article class="footer-section">
                <h2>Enlaces Rápidos</h2>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="noticias.html">Noticias</a></li>
                    <li><a href="catalogo_1.html">Catálogo</a></li>
                    <li><a href="acercade.html">Acerca de</a></li>
                    <li><a href="login.php">Mi cuenta</a></li>
                </ul>
            </article>
            <article class="footer-section">
                <h2>Contacto</h2>
                <p>Email: biblioteca@muskiz.eus</p>
                <p>Teléfono: +34 946 707 275</p>
                <p>Dirección: Cendeja 29. Muskiz, 48550 </p>
            </article>
        </section>
        <article class="footer-bottom">
            &copy; 2024 Biblioteca de Muskiz | Todos los derechos reservados
        </article>
    </footer> 
</body>
</html>