<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página web del Reto1 del Grupo 1 WWW">
    <meta name="author" content="Ieltxu Albin, Erlaitz Alonso, Andoni Alonso, Juan Garcia e Ibai Garcia">
    <!--Apartado css-->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/css/noticias.css">
    <!--apartado fav icon-->
    <link rel="icon" href="/img/Logo_muskiz.svg">
    <title>Noticias relacionadas</title>


</head>
<body>
    <header class="header">
        <!--este es el titulo-->
        <section class="title">
            <img src="/img/Logo_muskiz.png" alt="Logo Muskiz">
            <h1> BIBLIOTECA DE MUSKIZ</h1>
            <!--Aparatado para la pagina de inicio que te redige hacia otro lado-->
        </section>
        <nav class="menu">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="noticias.html">Noticias</a></li>
                <li><a href="catalogo_1.html">Catálogo</a></li>
                <li><a href="acercade.html">Acerca de</a></li>
                <li><a href="login.php">Mi cuenta</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <h2 class="titulo-ultimas-noticias">Noticias relacionadas</h2><br>
        <section class="noticias">
            <a href="noticias/noticias-1.html" class="noticia">
                <img src="https://album.mediaset.es/eimg/2024/10/19/westwind-air-service-tuvjqs9aoo-unsplash_25ab.jpg?w=1200"
                    alt="noticias1">
                <h3>¿Por qué es tan raro encontrar un piloto de avión con barba?</h3>
                <p>Ir bien afeitados no es una opción para una gran mayoría de los pilotos, sino una obligación.
                    El motivo por el que no verás casi ninguno que lleve barba está relacionado con la efectividad de
                    las máscaras de oxígeno.
                </p>
            </a>
            <a href="noticias/noticias-2.html" class="noticia">
                <img src="https://s1.elespanol.com/2024/10/29/madrid/sociedad/897170761_250451835_1706x960.png" alt="noticias-2">
                <h3>Trágico accidente laboral en Leganés</h3>
                <p>Accidente laboral en Leganés: muere un hombre tras ser aplastado por una placa de hormigón de 600
                    kilos
                </p>
            </a>
            <a href="noticias/noticias-3.html" class=noticia>
                <img src="https://www.sunwodaenergy.com/core/extend/kindeditor/attached/image/20211210/20211210160314_96589.jpg" alt="noticias-3">
                <h3>"Si no existe almacenamiento ni conexión a la red, la energía verde se perdería"</h3>
                <p>Sunwoda se especializa en el diseño y fabricación de soluciones avanzadas de almacenamiento de
                    energía basadas en tecnología de iones de litio. Con sede en Shenzhen, China, la compañía cotiza en
                    bolsa y cuenta con más de 50,000 empleados, generando unos ingresos anuales que rondan los 7 mil
                    millones de dólares.
                </p>
            </a>
        </section>
    </main>

    <footer class="footer">
    <section class="footer-content">
        <article class="footer-section">
            <h2>Biblioteca de Muskiz</h2>
            <p>Tu fuente de conocimiento y entretenimiento en Muskiz.</p>
            <div class="footer-images">
                <div><img src="/img/Logo_muskiz.png" alt="Logo Muskiz"></div>
                <div><img src="/img/Imaganes/Logo_govierno vasco.png" alt="Logo Gobierno Vasco"></div>
                <div><img src="/img/Imaganes/Logo_WWW.jpg" alt="Logo WWW"></div>
            </div>
        </article>
        <article class="footer-section">
            <h2>Enlaces Rápidos</h2>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="noticias.html">Noticias</a></li>
                <li><a href="catalogo_1.html">Catálogo</a></li>
                <li><a href="acercade.html">Acerca de</a></li>
                <li><a href="login.php">Mi cuenta</a></li>
            </ul>
        </article>
        <article class="footer-section">
            <h2>Contacto</h2>
            <p>Email: biblioteca@muskiz.eus</p>
            <p>Teléfono: +34 946 707 275</p>
            <p>Dirección: Cendeja 29. Muskiz, 48550 </p>
        </article>
    </section>
    <article class="footer-bottom">
        &copy; 2024 Biblioteca de Muskiz | Todos los derechos reservados
    </article>
</footer>
</body>
