<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página web del Reto1 del Grupo 1 WWW">
    <meta name="author" content="Ieltxu Albin, Erlaitz Alonso, Andoni Alonso, Juan Garcia e Ibai Garcia">
    <!--Apartado css-->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/css/noticias.css">
    <!--apartado fav icon-->
    <link rel="icon" href="img/Logo_muskiz.svg">
    <title>"Si no existe almacenamiento ni conexión a la red, la energía verde se perdería"</title>


</head>
<body>
    <header class="header">
        <!--este es el titulo-->
        <section class="title">
            <img src="img/Logo_muskiz.png" alt="Logo Muskiz">
            <h1> BIBLIOTECA DE MUSKIZ</h1>
            <!--Aparatado para la pagina de inicio que te redige hacia otro lado-->
        </section>
        <nav class="menu">
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/views/noticias.html">Noticias</a></li>
                <li><a href="/views/catalogo_1.html">Catalogo</a></li>
                <li><a href="/views/acercade.html">Acerca de</a></li>
                <li><a href="/views/login.php">Mi cuenta</a></li>
            </ul>
        </nav>
    </header>
    <main>
    <article class="article">
            <h2>
                "Si no existe almacenamiento ni conexión a la red, la energía verde se perdería"
            </h2>
            <h3>
                Sunwoda se especializa en el diseño y fabricación de soluciones avanzadas de almacenamiento de energía basadas en tecnología de iones de litio. Con sede en Shenzhen, China, la compañía cotiza en bolsa y cuenta con más de 50,000 empleados, generando unos ingresos anuales que rondan los 7 mil millones de dólares.
            </h3>
            <br>
            <p>
                Con una trayectoria de más de 27 años en el sector de las baterías, Sunwoda ha logrado liderar el mercado global de envíos de baterías 3C, alimentando 1 de cada 3 smartphones a nivel mundial. Además, la empresa se sitúa entre las 10 primeras en instalaciones de baterías para vehículos eléctricos.
        
                En su división de almacenamiento de energía, Sunwoda ha acumulado una capacidad instalada de sistemas de almacenamiento de energía (ESS) que supera los 16 GWh, con proyectos desplegados en más de 100 países y regiones alrededor del mundo. "Nuestra misión es fomentar soluciones energéticas sostenibles, haciéndolas más viables y accesibles para la población global", asegura Francisco Rendueles. Regional Sales Director.
            </p>
            <br>
            <h3>
                En Sunwoda estamos realizando una gran inversión en investigación y desarrollo, con más de 300 patentes y uno de los mayores presupuestos de inversión en I+D de la industria
            </h3>
            <br>
            <p>
                PREGUNTA: ¿Cómo está trabajando Sunwoda para solucionar este agujero que tenemos en todo el proceso?
                RESPUESTA: En Sunwoda estamos realizando una gran inversión en investigación y desarrollo, con más de 300 patentes y uno de los mayores presupuestos de inversión en I+D de la industria. Nuestros esfuerzos van más allá de la tecnología de celdas de batería, abarcando también los paquetes y sistemas de baterías. Estamos dedicados a crear soluciones más eficientes y fiables en una amplia gama de aplicaciones, que incluyen almacenamiento de energía residencial, comercial e industrial (C&I), almacenamiento móvil de energía, energía de red, soluciones a gran escala para servicios públicos y parques industriales con cero emisiones de carbono.
                P: ¿Qué hace falta para que el sector de las baterías pueda dar el salto cualitativo que el mercado necesita?
                R: Para que el sector de las baterías dé el salto cualitativo necesario, es fundamental trabajar en la regulación y en políticas que faciliten el desarrollo e integración de soluciones de almacenamiento de energía en las redes eléctricas. Esto incluye la implementación de incentivos económicos, como subsidios y créditos fiscales, que fomenten la investigación y la adopción de nuevas tecnologías.
                Además, es crucial establecer un marco regulatorio que permita a los sistemas de almacenamiento participar activamente en el mercado eléctrico, equilibrando la oferta y la demanda. También es importante crear estándares de interoperabilidad que aseguren la comunicación eficiente entre diferentes sistemas de almacenamiento.
                La educación y la concienciación sobre el papel de las baterías en la transición energética son esenciales para impulsar su adopción: fomentar una educación social que informe al público sobre los beneficios de las tecnologías de almacenamiento ayudará a crear un entorno más receptivo a su uso.
                Al abordar estos aspectos, el sector de las baterías podrá satisfacer la creciente demanda del mercado y contribuir a un futuro más sostenible. La colaboración entre el sector privado, los gobiernos y las instituciones de investigación será fundamental en este proceso.
            </p>
    </article>
    </main>
        <footer class="footer">
            <section class="footer-content">
                <article class="footer-section">
                    <h2>Biblioteca de Muskiz</h2>
                    <p>Tu fuente de conocimiento y entretenimiento en Muskiz.</p>
                    <div class="footer-images">
                        <div><img src="img/muskiz_udala.jpg" alt="Logo Muskiz"></div>
                        <div><img src="img/Logo_govierno vasco.png" alt="Logo Gobierno Vasco"></div>
                        <div><img src="img/Logo_WWW.jpg" alt="Logo WWW"></div>
                    </div>
                </article>
                <article class="footer-section">
                    <h2>Enlaces Rápidos</h2>
                    <ul>
                        <li><a href="/index.html">Inicio</a></li>
                        <li><a href="/views/noticias.html">Noticias</a></li>
                        <li><a href="/views/catalogo_1.html">Catalogo</a></li>
                        <li><a href="/views/acercade.html">Acerca de</a></li>
                        <li><a href="/views/login.php">Mi cuenta</a></li>
                    </ul>
                </article>
                <article class="footer-section">
                    <h2>Contacto</h2>
                    <p>Email: biblioteca@muskiz.eus</p>
                    <p>Teléfono: +34 946 707 275</p>
                    <p>Dirección: Cendeja 29. Muskiz, 48550 </p>
                </article>
            </section>
            <article class="footer-bottom">
                &copy; 2024 Biblioteca de Muskiz | Todos los derechos reservados
            </article>
        </footer>
</body>