<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página web del Reto1 del Grupo 1 WWW">
    <meta name="author" content="Ieltxu Albin, Erlaitz Alonso, Andoni Alonso, Juan Garcia e Ibai Garcia">
    <!--Apartado css-->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/css/noticias.css">
    <!--apartado fav icon-->
    <link rel="icon" href="img/Logo_muskiz.svg">
    <title>Trágico accidente laboral en Leganés</title>
</head>
<body>
    <header class="header">
        <!--este es el titulo-->
        <section class="title">
            <img src="img/Logo_muskiz.png" alt="Logo Muskiz">
            <h1> BIBLIOTECA DE MUSKIZ</h1>
            <!--Aparatado para la pagina de inicio que te redige hacia otro lado-->
        </section>
        <nav class="menu">
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/views/noticias.html">Noticias</a></li>
                <li><a href="/views/catalogo_1.html">Catalogo</a></li>
                <li><a href="/views/acercade.html">Acerca de</a></li>
                <li><a href="/views/login.php">Mi cuenta</a></li>
            </ul>
        </nav>
    </header>
    <main>
    <article class="article">
        <h2>
            Trágico accidente laboral en Leganés
        </h2>
        <h3>
            Accidente laboral en Leganés: muere un hombre tras ser aplastado por una placa de hormigón de 600 kilos
        </h3>
        <br>
        <p>
            Un trabajador de 36 años ha muerto tras caerle encima una placa de hormigón de 600 kilos, tal y como informa un portavoz del 112 de Madrid. El accidente ha tenido lugar poco antes de las 13.00 horas en una nave industrial de la calle Plank número 6 del citado municipio.
        </p>
        <br>
        <p>
            Hasta el lugar se han desplazado Policía Nacional, Policía Local de Leganés y una IVU móvil del Summa 112 que han encontrado al trabajador fallecido y sin posibilidad de reanimación, por lo que han confirmado el óbito. 
        </p>
        <br>
        <p>
            La Policía Nacional ha abierto una investigación para esclarecer estos hechos.
        </p>
    </article>
    </main>
    <footer class="footer">
        <section class="footer-content">
            <article class="footer-section">
                <h2>Biblioteca de Muskiz</h2>
                <p>Tu fuente de conocimiento y entretenimiento en Muskiz.</p>
                <div class="footer-images">
                    <div><img src="img/muskiz_udala.jpg" alt="Logo Muskiz"></div>
                    <div><img src="img/Logo_govierno vasco.png" alt="Logo Gobierno Vasco"></div>
                    <div><img src="img/Logo_WWW.jpg" alt="Logo WWW"></div>
                </div>
            </article>
            <article class="footer-section">
                <h2>Enlaces Rápidos</h2>
                <ul>
                    <li><a href="/index.html">Inicio</a></li>
                    <li><a href="/views/noticias.html">Noticias</a></li>
                    <li><a href="/views/catalogo_1.html">Catalogo</a></li>
                    <li><a href="/views/acercade.html">Acerca de</a></li>
                    <li><a href="/views/login.php">Mi cuenta</a></li>
                </ul>
            </article>
            <article class="footer-section">
                <h2>Contacto</h2>
                <p>Email: biblioteca@muskiz.eus</p>
                <p>Teléfono: +34 946 707 275</p>
                <p>Dirección: Cendeja 29. Muskiz, 48550 </p>
            </article>
        </section>
        <article class="footer-bottom">
            &copy; 2024 Biblioteca de Muskiz | Todos los derechos reservados
        </article>
    </footer>
</body>