<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página web del Reto1 del Grupo 1 WWW">
    <meta name="author" content="Ieltxu Albin, Erlaitz Alonso, Andoni Alonso, Juan Garcia e Ibai Garcia">
    <!--Apartado css-->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/css/noticias.css">
    <!--apartado fav icon-->
    <link rel="icon" href="img/Logo_muskiz.svg">
    <title>¿Por qué es tan raro encontrar un piloto de avión con barba?</title>

</head>

<body>
    <header class="header">
        <!--este es el titulo-->
        <section class="title">
            <img src="/img/Imaganes/muskiz_udala.jpg" alt="Logo Muskiz">
            <h1> BIBLIOTECA DE MUSKIZ</h1>
            <!--Aparatado para la pagina de inicio que te redige hacia otro lado-->
        </section>
        <nav class="menu">
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/views/noticias.html">Noticias</a></li>
                <li><a href="/views/catalogo_1.html">Catalogo</a></li>
                <li><a href="/views/acercade.html">Acerca de</a></li>
                <li><a href="/views/login.php">Mi cuenta</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <article class="article">
            <h2>
                ¿Por qué es tan raro encontrar un piloto de avión con barba?
            </h2>
            <h3>
                Ir bien afeitados no es una opción para una gran mayoría de los pilotos, sino una obligación.
                El motivo por el que no verás casi ninguno que lleve barba está relacionado con la efectividad de las máscaras de oxígeno.
            </h3>
            <br>
            <p>
                La barba es ese elemento casi imprescindible en la estética masculina de nuestros días. Sin embargo, hay contextos donde casi nunca veremos una, como si esta decisión de estilo y apariencia hubiera sido desterrada de la normativa y las costumbres por algún motivo que nadie explica.
                Por ejemplo, ¿te has preguntado alguna vez por qué nunca ves un piloto de avión con barba? ¿Tiene que ver con la estética, o es algo más?
            </p>
            <br>
            <p>
                Un detalle revelador que no conocen muchas personas es la relación entre el vello facial y el uso de las máscaras de oxígeno.
                La historia de la aviación es un ejemplo perfecto de normas escritas (sobre todo, no escritas) para mantener la seguridad a toda costa, y esto afecta, obviamente, a la tripulación de los aviones en los que viajamos. Es cierto que no existe una norma oficial sobre el vello facial en la propia FAA americana, la autoridad encargada de legislar sobre la aviación civil. Sin embargo, aerolíneas como American Airlines ya han dejado clara su posición sobre las barbas en su personal. "No permitimos que los pilotos con vello facial estén en servicio activo", ha explicado su portavoz en entrevistas pasadas para los medios. De hecho, han extendido esta prohibición a los miembros de la tripulación que ocupan los asientos plegables que vemos en la zona de trabajo y descanso de los extremos de la aeronave, los llamados ‘jumpseaters’.
            </p>
            <br>
            <p>
                Podríamos pensar que esta decisión viene motivada por imagen clásica que asociamos a los pilotos, la semántica de su estética: el pelo en la cara es ‘feo’ y ‘sucio’ para algunas personas. El rostro afeitado es ‘limpio’ y ‘pulcro’, y nos inspira más confianza. En realidad, la ausencia de barba en quienes manejan los aviones tiene que ver con el uso de las máscaras de oxígeno en situaciones de peligro. Hay suficientes indicios de que esta decisión está más que justificada.
                Un artículo reciente de IFL Science rescató del olvido una revisión de la seguridad de 1987 donde se mencionaba explícitamente el impacto de las máscaras de oxígeno en la seguridad. Otro informe del Departamento de Transporte de Estados Unidos, dependiente de la AFF, se pronunció en el mismo sentido. “Los datos indicaron que la disminución en el rendimiento es proporcional a la cantidad de vello facial presente".
            </p>
            <br>
            <p>
                Los vuelos comerciales alcanzan altitudes donde la presión atmosférica es muy baja. En caso de una despresurización de la cabina, los pilotos deben colocarse de inmediato máscaras de oxígeno para evitar la hipoxia y sus efectos: desorientación, pérdida de conocimiento e incluso la muerte.
                La máscara de oxígeno tiene que ajustarse herméticamente a la piel en torno a la boca, y es ahí donde la norma no oficial se convierte en semiobligatoria en la política de la compañía aérea de turno. Una barba densa y poblada podría reducir su efectividad. "La fuga de aire ambiente causada por las barbas no permite que se presente un porcentaje adecuado de oxígeno a la parte inferior del tracto respiratorio", explica otro informe, donde se ilustra con porcentajes este impacto. Entre un 16% y un 67% de pérdida de flujo de aire en quienes llevan barba.
                En esos momentos es crucial mantener el control del avión y garantizar la seguridad de la tripulación y los pasajeros, y unos pocos segundos pueden ser decisivos. Barbas fuera, al menos para los pilotos. No hay más que discutir.
            </p>
        </article>
    </main>
    <footer class="footer">
        <section class="footer-content">
            <article class="footer-section">
                <h2>Biblioteca de Muskiz</h2>
                <p>Tu fuente de conocimiento y entretenimiento en Muskiz.</p>
                <div class="footer-images">
                    <div><img src="img/muskiz_udala.jpg" alt="Logo Muskiz"></div>
                    <div><img src="img/Logo_govierno vasco.png" alt="Logo Gobierno Vasco"></div>
                    <div><img src="img/Logo_WWW.jpg" alt="Logo WWW"></div>
                </div>
            </article>
            <article class="footer-section">
                <h2>Enlaces Rápidos</h2>
                <ul>
                    <li><a href="/index.html">Inicio</a></li>
                    <li><a href="/views/noticias.html">Noticias</a></li>
                    <li><a href="/views/catalogo_1.html">Catalogo</a></li>
                    <li><a href="/views/acercade.html">Acerca de</a></li>
                    <li><a href="/views/login.php">Mi cuenta</a></li>
                </ul>
            </article>
            <article class="footer-section">
                <h2>Contacto</h2>
                <p>Email: biblioteca@muskiz.eus</p>
                <p>Teléfono: +34 946 707 275</p>
                <p>Dirección: Cendeja 29. Muskiz, 48550 </p>
            </article>
        </section>
        <article class="footer-bottom">
            &copy; 2024 Biblioteca de Muskiz | Todos los derechos reservados
        </article>
    </footer>
</body>